<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <specBind>
    <application startUrl="http://gettheparts-staging.azurewebsites.net/" xdt:Transform="SetAttributes"/>
    <browserFactory browserType="phantomjs" xdt:Transform="SetAttributes"/>
  </specBind>
</configuration>
